{% extends "socialApp/base.html" %}
{% load embed_video_tags %}
{% load staticfiles %}
{% load humanize %}

{% block header %}
   {% for u in user %}
<div class="row no-gutters">
      <div class="col-6 col-md-6 col-lg-5"></div>

      <div class="col-6 col-md-12 col-lg-7">
        {% for p in profile %}
          <img class="profileimg" style="width:100px;height:100px ;margin-left:27px;border-radius:5px;" src="{{p.profile_pic.url}}" alt="Girl in a jacket" >
        {% endfor %}
      </div>
      <div class="col-4 col-md-2 col-lg-4" ></div>
      <div class="col-4 col-md-2 col-lg-11" style="margin-left:2%;" ><p class="pheader" style=" font-size:25px;text-align:center; color:white;">{{u.username}}<p></div>
      <!--dont show follow button in my page-->
      {% if u.username != request.user.username %}
      <div class="follow3" style="margin-left:560px;margin-top:-20px;">

        {% for f in follow %}
        {% if f.user != "" %}
          <a  class="btn btn-primary" id="btn" href="{% url 'socialApp:follow' pk=u.id %}">Unfollow</a>
          {% endif %}
          {% empty %}
          <a  class="btn btn-primary" id="btn" href="{% url 'socialApp:follow' pk=u.id %}">Follow</a>
        {% endfor %}
      </div>
      {% endif %}
      <div class="col-12 col-md-2 col-lg-11"style="margin-left:2%;"><p class="pheader" style="color:white;font-size:20px;text-align:center">Designer and developer living in San Diego,CA</p></div>

      <div class="col-12 col-md-12 col-lg-11"style="margin-left:2%;"><p class="pheader" style="color:black; text-align:center">{{u.email}}<p> </div>


</div>
  <div class="row" style="margin-right:15px;" >
    <div class=" col-4 col-md-4 col-lg-3"></div>
      <div class=" col-4 col-md-4 col-lg-2" >
          <div class="row6">
            <a href="#!" class="card-link" style="color:black;font-weight:bold;margin-left:25px;">{{u.username}}'S FEED</a>
          </div>

        </div>
        <div class=" col-lg-2 col-md-4 col-4">
          <div class="row6">
            <a href="" class="card-link" style="color:black;font-weight:bold;margin-left:20px;">{{u.rel_to_set.count}} FOLLOWERS</a>
          </div>

        </div>
        <div class=" col-lg-2 col-md-4 col-4">
          <div class="row6">
            <a href="#!" class="card-link" style="color:black;font-weight:bold;margin-left:25px;">{{u.rel_from_set.count}} FOLLOWING</a>
          </div>
        </div>

    </div>
  {% endfor %}
{% endblock %}

{% block body %}

<div class="row no-gutters">
	<div class="empty col-lg-3">
	</div>
	<div class="cards2 col-lg-6 infinite-container">
  {% for post in posts %}
    {% for like in likes %}
      {% if post == like.post %}
		<div class="cards infinite-item">
			<div class="card">
				<div class="row">
					<div class="proimg col-lg-2">
						<a class="links" href="test.html">
              <!--userpic-->
							<img class="img1" src="{{post.user_profile.profile_pic.url}}">
						</a>

					</div>

					<div class="card-body col-lg-10">
						<p class="card-title">
              <!--username-->
							{{post.user}}
							<div class="time">
                <!--time-->
                <a class="links" href="test.html">
									<i class="fa fa-reply" aria-hidden="true" style="font-size:15px;margin-right:15px;"></i>
								</a>
                <a class="links" href="test.html">
									<i class="fa fa-heart-o" aria-hidden="true" style="font-size:15px; margin-right:15px;"></i>
								</a>
								<i style="font-size:10px; color:gray;margin-right:15px;">{{post.created_date|naturaltime}}</i>
							</div>
						</p>
						<p class="card-text1">
              <!--Text-->
							{{post.text}}
						</p>

					</div>
				</div>
        {% if post.image %}
  				<div class="row">
            <!--image-->
  					<img class="img2 col-lg-12" src="{{post.image.url}}">
  				</div>
        {% endif %}
          {% if post.video_link %}
            {% video post.video_link as my_video %}
              {% video my_video '553x400' %}
            {% endvideo %}
          {% endif %}
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#template{{post.post_id}}" aria-expanded="true" style="border-width:0px solid; background-color:white; border-color:white;"aria-controls="collapseExample">
          							<div class="row">
          								<p class="parg col-lg-4">expand</p>
          								<i class="fa fa-caret-down col-lg-1" style="font-size:10px;color:gray;" aria-hidden="true">&nbsp expand</i>
          							</div>
          	</button>
            <div class="collapse" id="template{{post.post_id}}">
							<div class="row">

								<div class="proimg col-lg-2">
									<a class="links" href="test.html">
										<img class="img1" src="{% static "images/speakers.jpg" %}">
									</a>
								</div>
								<div class="card-body col-lg-10">
									<p class="card-title" style="">
										hussam jarrar
										<div class="pr">
											<i style="font-size:15px;">25m</i>
											<a class="links" href="test.html">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

											<a class="links" href="test.html">
												<i class="fa fa-reply" aria-hidden="true"></i>
											</a>
										</div>
									</p>
									<p class="" style="text-align: left; width:343; height:415;">
										Which all, morning is'nt.Femaleandown living dry,and morning lesserfirst he stars under years thing
									</p>
								</div>
							</div>

						</div><!--collapse end-->
			</div>
		</div>
    {% endif %}
  {% endfor %}
{% endfor %}

	</div>

</div>

<!--loadmore-->

<div class="row">

    <div class="empty col-lg-5">

    </div>

    <div class="sub col-lg-2">
        {% if posts.has_next %}
        <a class="infinite-more-link int1" href="?page={{ posts.next_page_number }}">LOAD MORE</a>
        {% endif %}

    </div>
    <div class="loading" style="display: none;">
        Loading...
    </div>

    <div class="empty col-lg-5">

    </div>
</div>



 <script type="text/javascript">

 var infinite = new Waypoint.Infinite({
       element: $('.infinite-container')[0],
         onBeforePageLoad: function () {
           $('.loading').show();
         },
         onAfterPageLoad: function ($items) {
           $('.loading').hide();
         }
       });



</script>


{% endblock %}
