{% extends "socialApp/base.html" %}
{% load embed_video_tags %}
{% load staticfiles %}
{% load humanize %}

{% block header %}
  {% for u in user %}
    {{u.username}}
    {{u.email}}

  {% endfor %}
{% endblock %}

{% block body %}

<div class="row no-gutters">
	<div class="empty col-lg-3">
	</div>
	<div class="cards2 col-lg-6 infinite-container" id="post_feed">
  {% for post in posts %}
		<div class="cards infinite-item">
			<div class="card">
				<div class="row">
					<div class="proimg col-lg-2">
						<a class="links" href="test.html">
              <!--userpic-->
							<img class="img1" src="{{post.user_profile.profile_pic.url}}">
						</a>

					</div>

					<div class="card-body col-lg-10">
						<p class="card-title">
              <!--username-->
							{{post.user}}
							<div class="time">
                <!--time-->
                <a class="links" href="test.html">
									<i class="fa fa-reply" aria-hidden="true" style="font-size:15px;margin-right:15px;"></i>
								</a>
                <a class="links" href="test.html">
									<i class="fa fa-heart-o" aria-hidden="true" style="font-size:15px; margin-right:15px;"></i>
								</a>
								<i style="font-size:10px; color:gray;margin-right:15px;">{{post.created_date|naturaltime}}</i>
							</div>
						</p>
						<p class="card-text1">
              <!--Text-->
							{{post.text}}
						</p>

					</div>
				</div>
        {% if post.image %}
  				<div class="row">
            <!--image-->
  					<img class="img2 col-lg-12" src="{{post.image.url}}">
  				</div>
        {% endif %}
          {% if post.video_link %}
            {% video post.video_link as my_video %}
              {% video my_video '553x400' %}
            {% endvideo %}
          {% endif %}
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#template{{post.post_id}}" aria-expanded="true" style="border-width:0px solid; background-color:white; border-color:white;"aria-controls="collapseExample">
          							<div class="row">
          								<p class="parg col-lg-4">expand</p>
          								<i class="fa fa-caret-down col-lg-1" style="font-size:10px;color:gray;" aria-hidden="true">&nbsp expand</i>
          							</div>
          	</button>
            <div class="collapse" id="template{{post.post_id}}">
							<div class="row">

								<div class="proimg col-lg-2">
									<a class="links" href="test.html">
										<img class="img1" src="{% static "images/speakers.jpg" %}">
									</a>
								</div>
								<div class="card-body col-lg-10">
									<p class="card-title" style="">
										hussam jarrar
										<div class="pr">
											<i style="font-size:15px;">25m</i>
											<a class="links" href="test.html">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

											<a class="links" href="test.html">
												<i class="fa fa-reply" aria-hidden="true"></i>
											</a>
										</div>
									</p>
									<p class="" style="text-align: left; width:343; height:415;">
										Which all, morning is'nt.Femaleandown living dry,and morning lesserfirst he stars under years thing
									</p>
								</div>
							</div>

						</div><!--collapse end-->
			</div>
		</div>
{% endfor %}

	</div>

</div>

<!--loadmore-->

<div class="row">

    <div class="empty col-lg-5">

    </div>

    <div class="sub col-lg-2">
        {% if posts.has_next %}
        <a class="infinite-more-link int1" href="?page={{ posts.next_page_number }}">LOAD MORE</a>
        {% endif %}

    </div>
    <div class="loading" style="display: none;">
        Loading...
    </div>

    <div class="empty col-lg-5">

    </div>
</div>

<!--
<div class="popup" onclick="myFunction()">Click me!

<span class="popuptext" id="myPopup">Popup text...</span>

</div>

​

<div class="infinite-container">

{% for number in numbers %}

<div class="infinite-item">{{ number }}</div>

{% endfor %}

</div>

​

{% if numbers.has_next %}

<a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>

{% endif %}

​

<div class="loading" style="display: none;">

Loading...

</div>

​

<script>

var infinite = new Waypoint.Infinite({

element: $('.infinite-container')[0],

onBeforePageLoad: function () {

$('.loading').show();

},

onAfterPageLoad: function ($items) {

$('.loading').hide();

}

});

</script>

-->

 <script type="text/javascript">


function show() {
    var x = document.getElementById("linkBox");
    if (x.style.display === "none") {
        x.style.display = "inline-block";
    } else {
        x.style.display = "none";
    }
}

var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });

</script>

{% endblock %}
